---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Basically Devlog" description='A devlog of basically mods. We show cool stuff of our development process.'>
	<Header
		links={[
			{
				name: "Badges",
				link: "/#badges"
			},
			{
				name: "Arrows",
				link: "/#arrows"
			},
			{
				name: "Signs",
				link: "/#signs"
			},
			{
				name: "Devlog",
				link: "/devlog"
			}
		]}
	></Header>
	<main>
	</main>
</Layout>

<style>
	h1{
		transform: scale(calc(var(--scroll, 0) * 200 + 1));
	}
	main {
	}
</style>
