---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<Header
		links={[
			{
				name: "Badges",
				link: "#mods"
			},
			{
				name: "Arrows",
				link: "#mods"
			},
			{
				name: "Signs",
				link: "#mods"
			},
			{
				name: "Devlog",
				link: "#mods"
			}
		]}
	></Header>
	<main>
		<Section name="Badges">
			<div class="flex items-center justify-center min-h-full min-w-full bg-red-300"><h1>Badges</h1></div>
		</Section>
		<Section name="Arrows">
			<div class="flex items-center justify-center min-h-[200vh] min-w-full bg-blue-300"><h1>Arrows</h1></div>
		</Section>
		<Section name="Signs">
			<div class="flex items-center justify-center min-h-full min-w-full bg-green-300"><h1>Signs</h1></div>
		</Section>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #111;
		font-size: 20px;
		line-height: 1.6;
	}
</style>
