---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Header from '../components/Header.astro';
import Animatable from '../components/Animatable.astro';
---

<Layout title="Welcome to Astro.">
	<Header
		links={[
			{
				name: "Badges",
				link: "#mods"
			},
			{
				name: "Arrows",
				link: "#mods"
			},
			{
				name: "Signs",
				link: "#mods"
			},
			{
				name: "Devlog",
				link: "#mods"
			}
		]}
	></Header>
	<main>
		<Section name="Badges">
			<Animatable class='flex items-center justify-center min-h-full min-w-full bg-red-300 overflow-hidden'>
				<div class="h-[200px] bg-black" slot="backdrop"></div>
				<h1>Badges</h1>
			</Animatable>
		</Section>
		<Section name="Arrows">
			<Animatable  class="flex items-center justify-center min-h-[200vh] min-w-full bg-blue-300">
				<h1>Arrows</h1>
			</Animatable>
		</Section>
		<Section name="Signs">
			<div class="flex items-center justify-center min-h-full min-w-full bg-green-300"><h1>Signs</h1></div>
		</Section>
	</main>
</Layout>

<style>
	h1{
		transform: scale(calc(var(--scroll, 0) * 200 + 1));
	}
	main {
	}
</style>
