---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Header from '../components/Header.astro';
import Arrows from '../sections/Arrows.astro';
import Basically from '../sections/Basically.astro';
---

<Layout title="Welcome to Astro.">
	<Header
		links={[
			{
				name: "Badges",
				link: "#badges"
			},
			{
				name: "Arrows",
				link: "#arrows"
			},
			{
				name: "Signs",
				link: "#signs"
			},
			{
				name: "Devlog",
				link: "/devlog"
			}
		]}
	></Header>
	<main class="relative">
		<Section class="min-w-full min-h-screen flex -z-1" name="" section_id="home">
			<Basically></Basically>
		</Section>
		<Section name="Badges" section_id="badges">
			<div class="flex items-center justify-center min-h-full min-w-full"><h1>Badges</h1></div>
		</Section>
		<Section name="Arrows">
			<Arrows></Arrows>
		</Section>
		<Section name="Signs" section_id="signs">
			<div class="flex items-center justify-center min-h-full min-w-full"><h1>Signs</h1></div>
		</Section>
	</main>
</Layout>

<style>
</style>
