---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Header from '../components/Header.astro';
import Animatable from '../components/Animatable.astro';
import Arrows from '../sections/Arrows.astro';
---

<Layout title="Welcome to Astro.">
	<Header
		links={[
			{
				name: "Badges",
				link: "#badges"
			},
			{
				name: "Arrows",
				link: "#arrows"
			},
			{
				name: "Signs",
				link: "#signs"
			},
			{
				name: "Devlog",
				link: "/devlog"
			}
		]}
	></Header>
	<main>
		<Section name="Badges" section_id="badges">
			<Animatable class='flex items-center justify-center min-h-full min-w-full bg-red-300 overflow-hidden'>
				<div class="h-[100vh] bg-[#fff1]" slot="backdrop"></div>
				<h1>Badges</h1>
			</Animatable>
		</Section>
		<Section name="Arrows" section_id="arrows">
			<Arrows></Arrows>
		</Section>
		<Section name="Signs" section_id="signs">
			<div class="flex items-center justify-center min-h-full min-w-full bg-green-300"><h1>Signs</h1></div>
		</Section>
	</main>
</Layout>

<style>
	h1{
		transform: scale(calc(var(--scroll, 0) * 200 + 1));
	}
	main {
	}
</style>
