---
import Layout from '../layouts/Layout.astro';
import Section from '../components/Section.astro';
import Header from '../components/Header.astro';
import Arrows from '../sections/Arrows.astro';
import Basically from '../sections/Basically.astro';
import Signs from '../sections/Signs.astro';
---

<Layout title="Basically mods" description='We make mods.'>
	<Header></Header>
	<main class="relative w-full -z-10">
		<Section class="min-w-full min-h-[130vh] flex -z-1 sticky top-0" name="" section_id="home" addIntersection={false}>
			<Basically title='Basically mods' subtitle='We make mods.'></Basically>
		</Section>
		<Section name="Signs">
			<Signs></Signs>
		</Section>
		<Section name="Arrows">
			<Arrows></Arrows>
		</Section>
	</main>
</Layout>

<style>
</style>
