---
---

<footer class="w-full flex justify-center items-center py-8 text-center">
	<p class="text-sm"><span class="text-gray-600 dark:text-gray-400">Made with ❤️ by</span> <a class="text-blue-800 hover:underline" href="https://github.com/ChristianDuarteL">TomTobby</a></p>
</footer>