---
interface Link {
    name: string;
    link: string;
    canonical?: boolean;
}

interface Props {
    sticky?: boolean;
}

const { sticky } = Astro.props ;


const links: Link[] = [
    {
        name: "Signs",
        link: "/#signs"
    },
    {
        name: "Arrows",
        link: "/#arrows"
    },
    {
        name: "Devlog",
        link: "/devlog",
        canonical: true
    }
]
---

<header class={`w-full backdrop-blur-sm bg-white/50 dark:bg-gray-900/50 ${sticky ? 'sticky' : 'fixed'} top-0 z-100`}>
    <nav class="w-[980px] mx-auto flex justify-between">
        <a rel="canonical" href='/' class="p-3">
            Basically<span class="max-sm:hidden" basically-suffix></span>.
        </a>
        <div class="flex">
            {
                links?.map(e => <a rel={e.canonical ? "canonical" : undefined} class="p-3" href={e.link}>{e.name}</a>)
            }
        </div>
    </nav>
</header>

<style>
    nav{
        max-width: calc(100% - 2rem);
    }   
    [basically-suffix]:not(:empty)::before{
        content: ' ';
    } 
</style>