---
interface Link {
    name: string;
    link: string;
}

interface Props {
	links?: Link[];
    sticky?: boolean;
}

const { links, sticky } = Astro.props ;
---

<header class={`w-full backdrop-blur-sm bg-white/50 ${sticky ? 'sticky' : 'fixed'} top-0 z-100`}>
    <nav class="w-[980px] mx-auto flex justify-between">
        <a href="/" class="p-3">
            Basically<span class="max-sm:hidden" basically-suffix></span>.
        </a>
        <div class="flex">
            {
                links?.map(e => <a class="p-3" href={e.link}>{e.name}</a>)
            }
        </div>
    </nav>
</header>

<style>
    nav{
        max-width: calc(100% - 2rem);
    }   
    [basically-suffix]:not(:empty)::before{
        content: ' ';
    } 
</style>