---
interface Props {
    name: string;
    section_id?: string;
    'class'?: string;
}

const { name, section_id, 'class': _class } = Astro.props;
---

<section class={`min-w-full min-h-screen flex relative -z-1 ${_class}`} id={section_id}>
    <div class="absolute w-full h-full">
        <div class="sticky top-0 h-screen min-w-full" data-section-name={name}></div>
    </div>
    <slot />
</section>



<script>
    import { checkIntersection } from "../function/section";
    const elements = document.querySelectorAll(`[data-section-name]`);
    elements && elements.forEach(element => {
        element instanceof HTMLElement && checkIntersection(element);
    });
</script>