---
const arrows = [
    {
        link: "https://picsum.photos/170/50"
    },
    {
        link: "https://picsum.photos/170/50"
    },
    {
        link: "https://picsum.photos/170/50"
    }
]
---

<div class="flex flex-col items-center justify-center h-[100vh] w-full overflow-hidden" home-texts>
    <div class="flex flex-col items-center">
        <h1 class="text-6xl font-medium">Basically</h1>
        <h2 class="mt-3 text-2xl font-semibold text-gray-600 dark:text-gray-500">We basically make mods.</h2>
    </div>
</div>

<script>
    import { gsap } from "gsap";
    const element = document.querySelector('[home-texts]');
    gsap.to(element, {
        ease: 'none',
        scrollTrigger: {
            trigger: element,
            start: "center center",
            end: "100% 0",
            //markers: true,
            //toggleActions: 'restart pause reverse pause',
            scrub: 1
        },
        y: '-70vh', 
        duration: 3
    })
</script>

<style>
    img{
        opacity: 0;
        right: 400px;
    }
</style>